*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    min-height: 100vh;
    background: #f0f2f5;
    font-family: sans-serif;

    display: flex;
    justify-content:center;
    align-items: center;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px 15px;
    min-width: 450px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

    transition:transform 0.2s ease;
}
.avatar:hover {
    transform: scale(1.15);
}

.info {
    flex: 1;

}

.name {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.job {
    font-size: 16px;
    color: black;
    margin-top: 4px;
}

.follow-btn{
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;

    cursor: pointer;
    transition:transform 0.2s ease;
}
.follow-btn:hover {
    background: #0056b3;
}

/* Responsive: switch to vertical layout */
@media (max-width: 768px) {
    .card {
        width: 90%;
        max-width: 350px;
        flex-direction: column;
        text-align: center;
    }

    .follow-btn {
        width: 100%;
    }
}
