table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

th, td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    font-weight: bold;
    background-color: #f2f2f2;
    text-align: center;
}