#tab-buttons {
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: lightgrey;
}

button {
    padding: 20px;
    margin: 0;
    border: none;
    background: lightgrey;
    cursor: pointer;
    font-size: 18px;
}

button.active {
    background: darkgrey;
    /*color: white;*/
    font-weight: bold;
}

.tab-content > div {
    display: none;
    padding: 15px ;
}

body {
    background-color:#f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

.box-wrapper {
    width: 600px;
    margin: auto;
    border: 1px solid lightgrey;
    background-color: white;
}