*{
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background:#e5e5e5;

    display:flex;
    justify-content: center;
    align-items: flex-start;

    font-family: Arial, Helvetica, sans-serif;
    padding-top: 60px;
}

table {
    width: 100%;
    max-width: 900px;

    background: white;
    border: 8px double lightskyblue;
    border-collapse: collapse;
}

th,td {
    padding: 12px 16px;
    border: 1px solid lightskyblue;
    text-align: center;
}

thead th {
    color: dodgerblue;
    font-weight: bold;
}