.hw9-counter-card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hw9-btn {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.hw9-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    margin: 10px;
}