
.flex-container {
  display: flex;
  flex-wrap: wrap; 
}


.header {
  background-color: yellowgreen;
  width: 100%;
  height: 60px;
}


.nav {
  background-color: beige;
  width: 20%;
  height: 300px;
}

.article {
  background-color: white;
  width: 60%;
  height: 300px;
}

.aside {
  background-color: beige;
  width: 20%;
  height: 300px;
}


.footer {
  background-color: yellow;
  width: 100%;
  height: 60px;
}