body {
  background: #f0f2f5;
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px; 
}

.card img {
  width: 70px;
  border-radius: 50%;
}

.card button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #0735de;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }
}